
<div　class="container" style="min-height: 100%; height: 100%;">
    <div class='row mx-auto h-100  pl-5 pr-5'>
    <div class="d-flex flex-column">
    <div>
    <h1>Chess Ranking</h1>
    <hr>
    </div>

    <div>
    <i class="fas fa-search"></i>
    TODO: search box
    </div>

    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% nb = 1 %>
          <% @players.each do |player| %>
          <tr>
            <th scope="row"><%= nb %></th>
            <% nb += 1 %>
            <td>
              <%= player.name_en %>
            </td>
            <td>
              <%= player.rating_standard %>
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>
    </div>
    </div>
</div>